.cart__container {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 8px 0px gray;
  border-radius: 5px;
  padding: 20px;
}

.cart-item-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(218, 216, 216);
  padding: 20px;
  width: 90vh;
}

.cart-data {
  display: flex;
}

.cart-image > img {
  height: 100px;
  width: 100px;
}

.cart-letter {
  margin-left: 10px;
}
.cart-letter h3 {
  font-size: large;
  font-weight: 500;
}

.cart-letter > p {
  font-size: large;
  font-weight: 300;
}

.cart-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-button > button {
  border: none;
  background-color: white;
  font-size: 20px;
  background-color: rgb(239, 236, 236);
  border-radius: 50%;
  width: 30%;
}

.cart-button > button:hover {
  background-color: rgb(212, 210, 210);
  cursor: pointer;
}

.remove__button > button {
  border: none;
  margin-top: 11px;
  font-size: 15px;
  background-color: white;
  color: red;
  margin-left: 10px;
}

.remove__button > button:hover {
  color: rgb(158, 5, 5);
  cursor: pointer;
}

.cart__count {
  font-size: 18px;
  border-radius: 2px;
}

.cart__count > P {
  font-weight: normal;
  font-size: medium;
}

.cancel__button>button{
border: none;
margin-top: 5px;
padding: 8px;
background-color:#fff;
font-size: 13px;
font-weight: 600;
color: red;
border-radius: 50px;
cursor: pointer;
opacity: 0.4;
}

.cancel__button>button:hover{
  opacity: 1;
}

@media screen and (max-width: 750px) {
  .cart-item-container {
    width: 70vh;
  }
}
@media screen and (max-width: 630px) {
  .cart-item-container {
    width: 55vh;
  }
}

@media screen and (max-width: 537px) {
  .cart-letter h3 {
    font-size: small;
  }

  .cart-image {
    height: 10vh;
  }
}
