.category-option {
  background-size: cover;
  height: 300px;
  width: 200px;
  border-radius: 2px;
  padding: 10px;
}

.category-text {
  display: flex;
  width: 57%;
  justify-content: center;
  z-index: 0;
  margin-left: 40px;
  font-size: x-large;
  padding: 5px;
  border-radius: 2px;
  background: rgba(242, 238, 238, 0.7); /* Black background with 0.5 opacity */
}
.category-scrolled {
  display: none;
}

.category-option > p:hover {
  background-color: white;
  cursor: pointer;
  transition-duration: 200ms;
}

@media only screen and (max-width: 800px) {
  .category-text {
    margin-right: 50px;
  }
}
